<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

  <appender name="DJATOKA"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/server/data/djatoka/log/djatoka-logback.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>/server/data/djatoka/log/djatoka-logback.%d{yyyy-MM-dd}.log</FileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern><![CDATA[[%level] %d{HH:mm:ss.SSS} [ %C{5} , %M , %L ] %m %n]]></pattern>
    </encoder>
  </appender>

  <!-- Individual class level logging; then each off or on as needed -->
  <!--
  <logger name="info.freelibrary.util" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="info.freelibrary.djatoka.view.ImageServlet" level="DEBUG"/>
  <logger name="info.freelibrary.djatoka.view.IdentifierResolver" level="DEBUG"/>
  <logger name="gov.lanl.adore.djatoka.openurl.DjatokaImageMigrator" level="DEBUG" />
  <logger name="gov.lanl.adore.djatoka.openurl.OpenURLJP2KService" level="DEBUG"/>
  <logger name="info.freelibrary.maven.DjatokaResampleMojo" level="DEBUG"/>
  <logger name="info.freelibrary.djatoka.util.DebugServletFilter" level="DEBUG"/>
  -->

  <!-- <logger name="info.freelibrary.djatoka.ingest" level="DEBUG"
    additivity="false">
    <appender-ref ref="INGEST"/>
  </logger>

  <logger name="info.freelibrary.maven" level="DEBUG" additivity="false">
    <appender-ref ref="INGEST"/>
    <appender-ref ref="CONSOLE"/>
  </logger>

  <logger name="info.freelibrary.djatoka.TileCache" level="DEBUG"
    additivity="false">
    <appender-ref ref="CACHER"/>
    <appender-ref ref="CONSOLE"/>
  </logger> -->

  <!-- Log file for everything else -->
  <root level="INFO">
    <appender-ref ref="DJATOKA"/>
  </root>

</configuration>
